@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0px;
    font-family: 'Merriweather', serif;
    color: #f1f1f1;
}

body {
background-color: rgb(50,50,50);
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgb(23, 45, 34);
    display: flex;

    align-items: center;
    justify-content: space-between;

    z-index: 1;
}

h1 {
    font-family: 'Diplomata SC', cursive;
    font-size: 2rem;
}

nav {
    height: 60px;
    width: 60px;
    margin: 20px;
}

p {
    margin: 15px;
}

#menu_icon {
    height: auto;
    width: 60px;
}

#lynx {
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#white_tiger {
    height: auto;
    width: 100%;
}

#gridwrapper {
    margin: 100px;
    gap: 50px;
    width: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bo op"
    "bo we"
    ;
}

#booking {
    background: rgb(89,99,103);
    grid-area: bo;
    box-shadow: 0 0 50px black;
    border-radius: 5%;
    font-size: 1.25rem;
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
}

#booking h3 {
    font-size: 2rem;
}

#booking_button {
    border-radius: 50px;
    width: 300px;
    height: 100px;
    border: solid 5px #f1f1f1;
    background: #323232;
    outline: none;
    font-size: 2.5rem;
    font-weight: bold;
}

#open_hours {
    background: rgb(89,99,103);
    grid-area: op;
    box-shadow: 0 0 50px black;
    border-radius: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

#weather {
    background: rgb(89,99,103);
    grid-area: we;
    box-shadow: 0 0 50px black;
    border-radius: 5%;
    display: grid;
    align-items: center;
}

#location {
    background: rgb(89,99,103);
    width: auto;
    height: 60vh;
    margin: 100px;
    box-shadow: 0 0 50px black;
    border-radius: 25px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 1.25rem;
}

#location h3 {
    font-size: 1.5rem;
}

#maps{
    width: 1000px;
    height: 250px;
    align-self: center;
}

footer {
    background: rgb(23, 45, 34);
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

#welcome {
    position: absolute;
    text-align: center;
    margin-top: 30%;
    width: 100%;
    font-size: 3rem;
    text-shadow: 0 0 50px black;
    outline: 1px black;
}


.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 2;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#card_wrapper {
    padding-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background: linear-gradient(to bottom, #596367 50%, #323232 50%);
    box-shadow: 0 0 50px black;
    border-radius: 25px;
    width: 350px;
    height: 400px;
    margin: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.card_img {
    border-radius: 50%;
    box-shadow: 0 0 50px black;
    height: 150px;
    width: auto;
}

#about_wrapper {
    padding: 125px;
    gap: 50px;
    width: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a1 a1 a2"
    "a3 a4 a4"
    ;
}

#om_oss1 {
    grid-area: a1;  
}

#om_oss2 {
    grid-area: a2;
}

#om_oss3 {
    grid-area: a3;
}

#om_oss4 {
    grid-area: a4;
}

.om_oss_articles {
    background-color: rgb(89,99,103);
    box-shadow: 0 0 50px black;
    border-radius: 25px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.om_oss_button{
    outline: none;
    background: #323232;
    border: solid 2px #f1f1f1;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

#sandwich_img {
    width: 350px;
    height: auto;
        border-radius: 25px;
}

#red_panda {
    width: 100%;
    height: auto;
}

#meerkats {
    width: auto;
    height: 175px;
    border-radius: 25px;
}

#lizard {
    box-shadow: 0 0 50px black;
    border-radius: 10px;
    width: auto;
    height: 125px;
}